DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=password
DB_NAME=furyflow

# Standard .env files do not support variable interpolation or referencing other variables.
# You must repeat the values or use a tool/script to preprocess the file.
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://admin:password@localhost:5432/furyflow
GOOSE_MIGRATION_DIR=./migrations
GOOSE_TABLE=goose_migrations

LOG_FILE=furyflow.log
LOG_FORMAT=json
LOG_LEVEL=debug